<div class="subscription-header mb-4">
  <div
    class="d-flex flex-column flex-md-row justify-content-between align-items-center header p-2"
  >
    <div class="mb-2">
      <h4 class="mb-0">F.</h4>
    </div>
    <span class="contact-info text-center mb-2">
      <svg width="22" height="22">
        <use href="/assets/icons/sprite.svg#telephone-fill"></use>
      </svg>
      Have questions? Give us a call at <strong>123-123-1234</strong>
    </span>
    <div class="text-center">
      <span class="account-info">
        <svg width="22" height="22">
          <use href="/assets/icons/sprite.svg#person-circle"></use>
        </svg>
        testscreenshot
      </span>
    </div>
  </div>
</div>
